@media only screen and (min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }

    .header-placeholder {
    height: 160px;
    }

    .headerLeft{
        justify-content: center;

    }

    .logo{
        padding: 10px;
    }

    .headerAddress{
        font-size: 12px;
    }

    .headerAddress h3{
        font-size: 15px;
    }

    .searchBox button{
        padding: 10px;
    }

    .headerBtn{
        position: fixed;
        width: 100%;
        margin-right: 0px;
        justify-content: center;
        bottom: 0px;
        background-color: white;
        
    }
    .bannerSection{
        display: none;
    }

    .orderBanner{
        padding: 10px;
        flex-direction: column;
    }
    .categoryItems{
    flex-basis: 25%;
}

.productSection{
    padding: 30px 10px;
}
.productItems{
    flex-basis: 49%;
}

footer{
    padding-top: 0px;
}

.footer-mid-row1{
    padding: 10px;
    flex-direction: column;
}

.FooterLinks__List li{
    flex-basis: 48%;
    
}

.footer-mid-row3{
    padding: 0pc 10px;
}

.footer-mid-row2{
    gap: 20px;
    flex-direction: column;
}
}